@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

.font-regular {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.font-semibold {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.font-extrabold {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.font-black {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
